.random-info {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-family: 'Roboto', sans-serif;
  padding: 20px 80px;
}

.random-info h2 {
  text-align: center;
  font-size: 36px;
}
.parent-box {
  display: flex;
  height: 100%;

}
.box-container {
  gap: 16px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  border: 2px solid blue;
  border-radius: 7px;
  align-self: center;
}

.box p {
  display: flex;
  text-align: center;
  font-weight: bold;
}